@import url('https://fonts.googleapis.com/css?family=Francois+One');
*{
    box-sizing: border-box;
}
a{text-decoration: none;}
.container{width: 85%;margin: auto;}
.slider{
    background: url(../images/lecture.jpg) , rgb(84, 9, 9);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}
.navbar-header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.navbar-header .navbar-logo a p{
    color: #b41e1f;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Francois One', sans-serif;
    margin: 0;
    background: #fff;
    width: fit-content;
    padding: 12px;
}
.navbar-header .navbar-logo a p span{
    color: #000;
}
.navbar-header label{font-size: 30px;color: #fff; display: none;cursor: pointer}
.navbar-header #toggele{display: none;}

.navbar-header .navbar-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}
.navbar-header .navbar-list ul li{
    display: inline;
    color: #f0292f;
}
.navbar-header .navbar-list ul li a{
    color: #fff;
    font-size: 22px;
    padding-bottom: 3px;
    margin-right: 30px;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
}
.navbar-header .navbar-list ul li a:after{
    content: '';
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 2px;
    transition: .3s;
    margin: auto;
}
.navbar-header .navbar-list ul li a:hover:after{width: 100%}
.navbar-header .navbar-list ul li:last-of-type a{margin-right: 0;}
.slider-title{
    color: #fff;
    text-align: center;
    padding: 8em 11em 11em;
    font-family: 'Francois One', sans-serif;
}
.slider-title h1{
    margin: 0;
    font-weight: 100;
    text-transform: capitalize;
    font-size: 30px;
}
.slider-title h1 span{color:#000;}
.slider-title p{
    text-transform: capitalize;
    font-size: 25px;
    margin: 15px;
}
@media only screen and  (max-width: 768px){
    .navbar-header label{display: block;}
    .navbar-header .navbar-list{display: none ;width: 100%;text-align:center;}
    .navbar-header .navbar-list ul li{width: 100%;padding-bottom: 10px;margin: 5px;}
    .navbar-header .navbar-list ul li a{margin: 0;}
    #toggele:checked + .navbar-list{display: block;margin-top: 5px;}
    .slider-title{padding: 10em 0 13em 0 ;}
}
