@import url('https://fonts.googleapis.com/css?family=Francois+One|Salsa|Yanone+Kaffeesatz');
*{
    box-sizing: border-box;
}
body{height: 4000px;}
a{text-decoration: none;}
.container{width: 85%;margin: auto;}
/* --------------------------------------- slider ---------------------------------------  */
.slider{
    background: url(../images/lecture.jpg) , rgb(84, 9, 9);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    z-index: -100;
}
.navbar-header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.navbar-header .navbar-logo a p{
    color: #b41e1f;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Salsa', cursive;
    margin: 0;
    background: #fff;
    width: fit-content;
    padding: 12px;
    transition: .3s;
}
.navbar-header .navbar-logo a p:hover {transform: scale(.9);}
.navbar-header .navbar-logo a p span{
    color: #000;
}
.navbar-header label{font-size: 30px;color: #fff; display: none;cursor: pointer}
.navbar-header #toggele{display: none;}

.navbar-header .navbar-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}
.navbar-header .navbar-list ul li{
    display: inline;
    color: #f0292f;
}
.navbar-header .navbar-list ul li a{
    color: #fff;
    font-size: 18px;
    padding-bottom: 3px;
    margin-right: 30px;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
}
.navbar-header .navbar-list ul li a:after{
    content: '';
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 2px;
    transition: .3s;
    margin: auto;
}
.navbar-header .navbar-list ul li a:hover:after{width: 100%}
.navbar-header .navbar-list ul li:last-of-type a{margin-right: 0;}
.slider-title{
    color: #fff;
    text-align: center;
    padding: 8em 11em 11em;
    font-family: 'Francois One', sans-serif;
}
.slider-title h1{
    margin: 0;
    font-weight: 100;
    text-transform: capitalize;
    font-family: 'Salsa', cursive;
    font-size: 30px;
}
.slider-title h1 span{color:#000;}
.slider-title p{
    text-transform: capitalize;
    font-size: 25px;
    margin: 15px;
}
@media only screen and  (max-width: 768px){
    .navbar-header label{display: block;}
    .navbar-header .navbar-list{display: none ;width: 100%;text-align:center;}
    .navbar-header .navbar-list ul li{width: 100%;padding-bottom: 10px;margin: 5px;}
    .navbar-header .navbar-list ul li a{margin: 0;letter-spacing: 3px;word-spacing: 5px}
    #toggele:checked + .navbar-list{display: block;margin-top: 5px;}
    .slider-title{padding: 10em 0 13em 0 ;}
}
/* --------------------------------------- about scope ---------------------------------------  */
.about-scope{
    /* position: absolute;
    top: 26em; */
    transform: translateY(-40px);
}
.about-scope .about-event{
    text-align: center;
    padding: 25px;
    background:#fff;
    box-shadow: -7px 9px 8px #d2d1d1;
}
.about-scope .about-event h2{
    margin: 0;
    color: maroon;
    text-transform: capitalize;
    font-family: 'Salsa', cursive;
}
.about-scope .about-event h2 i{padding: 8px}
.about-scope .about-event h2 span{color: #000;}
.about-scope .about-event p{
    font-size: 30px;
    line-height: 2;
    margin-bottom: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.about-scope .about-event .cat-scope{color:#c50406}
.about-scope .about-event .cat-reloaded{color:#c50406;font-weight: bold;}
.about-scope .about-event a{
    display: block;
    background: maroon;
    width: fit-content;
    margin: auto;
    color: #fff;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 30px;
    text-transform: capitalize;
    transition: .2s ;
}
.about-scope .about-event a:hover{ transform: translateY(-5px);}
.about-scope .about-event a span{
    width: 30px;
    height: 30px;
    font-size: 15px;
    background: transparent;
    display: inline-block;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
}
@media only screen and (max-width: 768px){
    .about-scope .about-event p{
        font-size: 25px;
        line-height: 1.3;
    }
}
/* --------------------------------------- speakers---------------------------------------  */
.speakers .speaker-header h3 {
    width: fit-content;
    margin: auto;
    margin-bottom: 25px;
    font-size: 35px;
    color: #800000;
}
.speakers .team-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.speakers .team-cards .card {text-align: center;width: 20%;margin-bottom: 30px;}
.speakers .team-cards .card .img-box {height: 250px;}
.speakers .team-cards .card .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.speakers .team-cards .card .speaker-name p{
    margin: 0;
    background: maroon;
    width: 100%;
    color: #fff;
    padding: 5px;
    font-family: 'Salsa', cursive;
}
@media only screen and (max-width: 768px){
    .speakers .team-cards .card{width: 45%}
}



